extends layout

block content
    .row
        .medium-12.columns
            h2.section-head hi

    .row
        .medium-12.columns.current-balance
            span.right Aktueller Kontostand
                strong.positiv-color &nbsp; +356.654.654

    .month-container-01

        .row
            .medium-12.columns
                h3 März 2014

        .row
            .medium-12.columns
                ul.medium-block-grid-1.balance-list
                    li
                        .row
                            .medium-12.columns
                                .row
                                    .small-7.columns
                                        .panel
                                            |Lorem ipsum dolor sit amet, consetetur sadipscing elitr,  non [...]
                                    .small-5.columns
                                        .row
                                            .small-6.columns.text-center
                                                .panel
                                                    |-250,00
                                            .small-6.columns.text-center
                                                .panel
                                                    |+215,67

                    li
                        .row
                            .medium-12.columns
                                .panel
                                    .row
                                        .small-7.columns
                                        .small-5.columns
                                            .row
                                                .small-6.columns
                                                    |-250,00
                                                .small-6.columns
                                                    |+215,67






