extends layout

block content
    .row
        .large-12.columns
            h2 Kontoumsätze

    .row
        .large-12.columns
            span Aktueller Kontostand
                strong &nbsp; +356.654.654

    .row
        .large-4.columns
            .panel.overview
                dl
                    dt.month
                    dd Januar 2014
                    dt Einnahmen
                    dd 2658
                    dt Bilanz
                    dd 1000
                    dt Kontostand Ø
                    dd 23.211
                    dt Kontostand Ende des Monats
                    dd 204.532
                        span.negativ -215

        .large-4.columns
            .panel.overview
                dl
                    dt.month Monat
                    dd.month Januar 2014
                    dt Einnahmen
                    dd 2658
                    dt Bilanz
                    dd 1000
                    dt Kontostand Ø
                    dd 23.211
                    dt Kontostand Ende des Monats
                    dd 204.532
                        span.positiv +215
        .large-4.columns
            .panel.overview
                dl
                    dt.month
                    dd Januar 2014
                    dt Einnahmen
                    dd 2658
                    dt Bilanz
                    dd 1000
                    dt Kontostand Ø
                    dd 23.211
                    dt Kontostand Ende des Monats
                    dd 204.532
                        span.negativ -215

    .row
        .large-12.columns
            button.button.right Details

    .row
        .large-12.columns
            h2 Likes

    .row
        .large-12.columns
            ul.imageflow
                li
                    img(src="http://placekitten.com/200/200",title=Profilbild)
                li
                    img(src="http://placekitten.com/200/200",title=Profilbild)

    .row
        .large-12.columns
            button.button.right Alles anzeigen

    .row
        .large-12.columns
            h2 Kurs
            h3 Der C-Dax
            p
                | Damit Ihr indess erkennt, woher dieser ganze Irrthum gekommen ist, und weshalb man die Lust anklagt
                | und den Schmerz lobet, so will ich Euch Alles eröffnen und auseinander setzen, was jener Begründer
                | der Wahrheit und gleichsam Baumeister des glücklichen Lebens
                strong &nbsp; selbst darüber &nbsp;
                | gesagt hat.

            img(src="http://placekitten.com/1200/600",title=Profilbild)

    .row
        .large-12.columns
            button.button.right Alles anzeigen

    .row
        .large-4.columns
            img(src="http://placekitten.com/300/300")
        .large-8.columns
            h2 Über Universal Coins
            p.
                Damit Ihr indess erkennt, woher dieser ganze Irrthum gekommen ist, und weshalb man die Lust
                anklagt und den Schmerz lobet, so will ich Euch Alles eröffnen und auseinander setzen, was
                jener Begründer der Wahrheit und gleichsam Baumeister des glücklichen Lebens selbst darüber
                gesagt hat.
            p.
                Niemand, sagt er, verschmähe, oder hasse, oder fliehe die Lust als solche, sondern weil
                grosse Schmerzen ihr folgen, wenn man nicht mit Vernunft ihr nachzugehen verstehe.


    footer.row
        .large-12.columns
            img(src="http://placekitten.com/1200/300")

    hr


    .row
        .large-6.columns
            .row
                .large-5.columns
                    img(src="http://placekitten.com/200/200",title="Profilbild")
                .large-7.columns
                    h4 Max Mustermann
                    p
                        a(href="mailto:mmuster@gmail.com") mmuster@gmail.com
                    p arbeitet bei:
                        br
                        strong WBL-Konzept GmbH
                    a.positiv(href="#") Thumbs up
                    a.negativ(href="#") Thumbs down

        .large-6.columns
            strong.rating Rating
                span.amount &nbsp; 356.256

    .row
        .large-12.columns
            h3 Gute Taten von Max Musterman
    .row
        .large-12.columns
            img(src="http://placekitten.com/1200/600")

    .row
        .large-6.columns
            img(src="http://placekitten.com/400/300")
        .large-6.columns.employerRating
            form
                p Arbeitgeber von Maxmustermann bewerten
                    br
                    strong WBL-Konzept GmbH
                button.rate.positiv Positiv Bewerten
                button.rate.negativ Negativ Bewerten

