doctype html
html(lang="en").no-js
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title Universal Coins - One coin to give them all.
    link(rel="stylesheet", href="css/foundation.css")
    script(type='text/javascript', src='js/vendor/modernizr.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    body

        header.row
            .large-2.columns
                img(src="http://placekitten.com/100/100",title="Profilbild")
            .large-10.columns
                .row
                    .large-5.columns
                        span.kontostand Kontostand
                            span &nbsp; 356256

                    .large-7.columns
                        a(href="#") ausloggen
                        img(src="http://placekitten.com/30/30",title="Profilbild")
                        span Max Mustermann

        .row
            .large-12.columns

                nav.top-bar(data-topbar='data-topbar')
                    ul.title-area
                        li.name
                            h1
                                a(href="#") My Site

                    section.top-bar-section
                        ul.left
                            li.active
                                a(href="#")



        hr

        .row
            .large-6.columns
                h1.logo Universal Coins
            .large-6.columns
                form(action="/signin",data-abide=true,type="post")
                    label Mail
                    input(required=true,type="email")
                    label Password
                    input(required=true,type="password")
                    button.small Login

        .row
            .large-6.columns
                .row
                    .large-5.columns
                        img(src="http://placekitten.com/200/200",title="Profilbild")
                    .large-7.columns
                        h4 Max Mustermann
                        p
                            a(href="mailto:mmuster@gmail.com") mmuster@gmail.com
                        p arbeitet bei:
                            br
                            strong WBL-Konzept GmbH
                        a.positiv(href="#") Thumbs up
                        a.negativ(href="#") Thumbs down

            .large-6.columns
                strong.rating Rating
                    span.amount &nbsp; 356.256

        .row
            .large-12.columns
                h3 Gute Taten von Max Musterman
        .row
            .large-12.columns
                img(src="http://placekitten.com/1200/600")

        .row
            .large-6.columns
                img(src="http://placekitten.com/400/300")
            .large-6.columns.employerRating
                form
                    p Arbeitgeber von Maxmustermann bewerten
                        br
                        strong WBL-Konzept GmbH
                    button.rate.positiv Positiv Bewerten
                    button.rate.negativ Negativ Bewerten

        .row
            .large-4.columns
                img(src="http://placekitten.com/300/300")
            .large-8.columns
                h2 Über Universal Coins
                p.
                    Damit Ihr indess erkennt, woher dieser ganze Irrthum gekommen ist, und weshalb man die Lust
                    anklagt und den Schmerz lobet, so will ich Euch Alles eröffnen und auseinander setzen, was
                    jener Begründer der Wahrheit und gleichsam Baumeister des glücklichen Lebens selbst darüber
                    gesagt hat.
                p.
                    Niemand, sagt er, verschmähe, oder hasse, oder fliehe die Lust als solche, sondern weil
                    grosse Schmerzen ihr folgen, wenn man nicht mit Vernunft ihr nachzugehen verstehe.


        footer.row
            .large-12.columns
                img(src="http://placekitten.com/1200/300")










    script(type='text/javascript', src='/js/foundation.min.js')
    script(type='text/javascript').
        $(document).foundation();