extends layout

block content


    .row
        .medium-6.columns.user-overview
            .row
                .medium-5.columns
                    img(src="http://placekitten.com/200/200",title="Profilbild")
                .medium-7.columns
                    h4 Max Mustermann
                    p
                        a(href="mailto:mmuster@gmail.com") mmuster@gmail.com
                    p arbeitet bei:
                        br
                        strong WBL-Konzept GmbH
                    a.positiv(href="#")
                        i Thumbs up
                        span &nbsp; (12442)
                    a.negativ(href="#")
                        i Thumbs down
                        span &nbsp; (12442)

        .medium-6.columns.likecontainer.medium-text-center
            strong.rating Rating
                span.amount &nbsp; 356.256

            button.thumbs
                span
                |liken

    .row
        .medium-12.columns
            hr


    .row
        .medium-12.columns
            h3 Gute Taten von Max Musterman
    .row
        .medium-12.columns
            canvas#myChart(width="400",height="400", data-type="line")

    .row
        .medium-12.columns
            hr

    .row
        .medium-6.columns
            img.hide-for-small(src="http://placekitten.com/400/300")
        .medium-6.columns.employerRating.text-center
            form
                p Arbeitgeber von Maxmustermann bewerten
                    br
                    strong WBL-Konzept GmbH
                button.rate.thumbs.up.no-text.left
                    span
                button.rate.thumbs.down.no-text.right
                    span
                div.left.amout-of-ratings
                    |156.345
                div.right.amout-of-ratings
                    | 6.246

