@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

body {
	font-size: $default-font-size;
	padding-top: 20px;
	line-height: 20px;
}

a {
	color: $secondary-color;
}

p {
	font-size: $default-font-size;
	line-height: 20px;
}

.margin-bottom {
	margin-bottom: 20px;
}

.margin-top {
	margin-top: 20px;
}



.positiv-color {
	color: $positiv;
}

.positiv-bg {
	background: $positiv;
}

.negativ-color {
	color: $negativ;
}

.negativ-bg {
	background: $negativ;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	margin-top: 0;
}

header {

	.kontostand {
		font-size: 16px;
		font-weight: bold;
		margin-top: 14px;
		display: inline-block;
		@media only screen and (max-width: 40em) {
			display: block;
			border: 1px solid $black;
			margin-top: 0;
			padding: 9px 0;
		}

		span {
			color: $secondary-color;
		}
	}

	.profil {
		margin-top: 10px;

		.logout {
			background: url("../img/logout.jpg") left 5px no-repeat;
			display: inline-block;
			padding-left: 17px;
			margin-right: 20px;
		}

		img {
			margin-right: 10px;
		}

		a {
			color: $black;
			
			&:hover {
				color: $secondary-color;
			}
		}
	}
}

.page-head {
	background: url("../img/headline-bg.jpg") repeat;
	color: $white;
	font-size: 23px;
	font-weight: 300;
	height: 125px;
	line-height: 30px;
	padding: 33px 0 0 30px;
	margin-bottom: 20px;

	strong {
		font-weight: 700;
	}

	span {
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-size: 20px;
	}

	img {
		position: absolute;
		right: 0;
		top: 24px;
		right: 40px;
		@media only screen and (max-width: 730px) {
			display: none;
		}
	}
}

.section-head {
	border-bottom: 1px solid $black;
	padding-bottom: 20px;
	margin-bottom: 20px;
	@media only screen and (max-width: 40em) {
		border-bottom: 1px solid black;
		padding-bottom: 8px;
		margin-bottom: 10px;
	}
}

@mixin button {
	background: none;
	border: 2px solid $secondary-color;
	color: $secondary-color;
	font-size: 13px;
	font-weight: bold;
	text-align: center;

	&:hover {
		background: $secondary-color;
		color: $white;
	}
}

.panel.overview {

	dl {

		dt,dd {
			line-height: 14px;
			font-size: $default-font-size;
			font-weight: normal;
		}

		dt {


			&.month {
				display: none;

				+dd {
					font-size: 20px;
					font-weight: bold;
					margin-bottom: 30px;
				}
			}

		}
		dd {
			font-weight: bold;

			&.final-balance {
				font-size: 20px;

				.negativ-color, .positiv-color {
					font-size: 11px;
				}
			}
		}
	}
}

.button, button{
	@include button;
}

@media only screen and (max-width: 40em) {

	nav.top-bar {
		margin: 20px 0;
	}

}

.likecontainer {

	strong.rating {
		font-size: 25px;
		display: block;
		margin-bottom: 20px;

		span.amount {
			font-size: 35px;
			color: $primary-color;
		}
	}
}



.top-bar-section {

	ul {
		background: $secondary-color;
	}

	li:not(.has-form) a:not(.button) {
		text-transform: uppercase;
	}

}

.title-area {
	display: none;
}

img.logo {
	margin-bottom: 20px;
}

.current-balance {
	font-weight: bold;
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 25px;

	strong {
		font-size: 20px;
	}
}

.imageflow.medium-block-grid-12 {

	margin-bottom: 20px;

	> li {
		padding: 0;
	}
}


